
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {

    /* LAYOUT */

    --mobile-size: 375px;
    --desktop-size: 1440px;

    /* COLORS */
    /* -- Primary -- */

    --pale-blue: hsl(225,100%,94%);
    --bright-blue: hsl(245,75%,52%);

    /* -- Neutral -- */

    --very-pale-blue: hsl(225, 100%, 98%);
    --desat-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223,47%,23%);

    /* -- TYPOGRAPHY -- */
    /* Body Copy */

    --font-size: 16px;

    
}
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    max-height: 100vh;
    min-width: 100%;
    background-color: var(--pale-blue);    
    background-image: url("/images/pattern-background-desktop.svg"), no-repeat cover;
    

}

.card-container {
    background-color: white;
    max-width: 450px;
    border-radius: 10px;
    margin:  0 auto;
    
    display: flex;
    flex-direction: column;
   
    min-height: 90%;

    
}
.card-hero {
    background-color: var(--bright-blue);
    border-radius: 10px 10px 0 0;
    
}
#hero-img {
    border-radius: 10px;
}

.card-info {
    text-align: center;
}

.summary-title {
    padding: 1.5rem 0;
    font-size: 1.7rem;
    font-weight: 900;
}   
.summary-desc {
    color: var(--desat-blue);
    max-width: 70%; 
    margin: auto;
}
.card-plan {
    background-color: var(--blue);
    padding: 1.2em;
    width: 80%;
}
.annual-plan {
    display: flex;
}
.btn{
    padding: 1.2em 1em;
    width: 80%;
    margin: .5em 0;
}