
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {

    /* LAYOUT */

    --mobile-size: 375px;
    --desktop-size: 1440px;

    /* COLORS */
    /* -- Primary -- */

    --pale-blue: hsl(225,100%,94%);
    --bright-blue: hsl(245,75%,52%);

    /* -- Neutral -- */

    --very-pale-blue: hsl(225, 100%, 98%);
    --desat-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223,47%,23%);

    /* -- TYPOGRAPHY -- */
    /* Body Copy */

    --font-size: 16px;

    
}

body {
    font-size: var(--font-size);
    font-family: 'Red Hat Display';
    
}
